  <div class="card">
    <div class="card-body" style="margin: auto;">
      <div class="wrapper">
        <h3 class="mb-0 font-weight-semibold">
          <% userN.forEach(numero => { %>
            <%= numero.count %>
          <%})%>
        </h3>
        <h5 class="mb-0 font-weight-medium text-primary">Membros</h5>
      </div>
    </div>
  </div>