<div id="calendario" class="calendarioTop">
    <div class="calendarioTitle">
        <h1>Calendário</h1>
    </div>
</div>
<div class="calendario2">
    <div class="calendario">
        <div class="row" style="width: 100%;padding-top: 50px;padding-bottom: 100px;">
            <div class="col-xl-8" style="margin: auto;z-index: 0;padding-right: 0px !important;padding-left: 30px !important;">
              <div class="card">
                <div class="card-body"  >
                  <div class="table-responsive-xl">
                    <table class="table">
                      <tr>
                        <td>
                          <div id="calendar"></div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>