<div id="contactos" class="contactosTop">
    <div class="contactosTitle">
        <h1>Contactos</h1>
    </div>
</div>
<div class="contactos" style="padding-bottom: 100px;padding-top: 100px;z-index: 0;width: 100%;">
    <div class="row" style="width: 100%;">
        <div class="col-xl-6 text-center" style="margin-bottom: 50px;padding-right: 0px !important;padding-left: 30px !important;">
            <h3>EMAIL</h3>
            <p style="font-size: 25px;"><a style="color: #212529;" href="mailto:geral@rfsaotiagolobao.com">geral@rfsaotiagolobao.com</a></p> 
            <h3>TELEFONE</h3>
            <p style="font-size: 25px;"><a style="color: #212529;" href="tel: 256 381 313">256 381 313</a></p>
            <h3>FAX</h3>
            <p style="font-size: 25px;">256 381 533</p>
        </div>
        <div class="col-xl-6" style="padding-right: 0px !important;padding-left: 24px !important;">
            <h3 style="padding-left: 15px;">ENVIE UMA MENSAGEM!</h3>
            <form action="/mensagem" method="POST" class="forms-sample">
                <div class="col-xl-8">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control" required placeholder="Nome" name="nome">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" required placeholder="Email" name="email">
                    </div>
                    <div class="form-group">
                        <label>Assunto</label>
                        <input type="text" class="form-control" required placeholder="Assunto" name="assunto">
                    </div>
                    <div class="form-group">
                        <label>Mensagem</label>
                        <textarea rows="6" class="form-control" name="mensagem"></textarea>
                    </div>
                    <button style="padding-left: 15px;" type="submit" class="btn btn-primary" submit>Enviar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-xl-12 text-center">
            <div class="col-xl-3" style="margin: auto;padding-top: 50px;">
                <h3>NEWSLETTER!</h3>
                <form action="/newsletter" method="POST" class="forms-sample">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" name="email">
                    </div>
                    <button style="padding-left: 15px;" type="submit" class="btn btn-primary" submit>Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>