<div class="col-xl-12 endPage" style="background: #212529;">
    <div class="row" style="height: 60px;color: white;padding-top: 13px;padding-left: 20%;">
        <div class="col-6" >
            <a href="https://www.facebook.com/s.tiago.a.rufar" target="_blank" style="text-decoration: none;color: white;" ><i class="fa fa-facebook-square fa-2x"></i></a>
        </div>
        <div class="col-6">
            Desenvolvedor: <a style="color: white;" href="mailto:rodrigo.e09@hotmail.com">Rodrigo Ferreira</a>
        </div>
    </div>
</div>