<div id="localizacao" class="localizacaoTop">
    <div class="localizacaoTitle">
        <h1>Localização</h1>
    </div>
</div>
<div class="localizacao" style="padding-bottom: 100px;padding-top: 100px;z-index: 0;width: 100%;">
    <div class="row" style="width: 100%;">
        <div class="col-xl-6" style="margin-bottom: 50px;padding-right: 0px !important;padding-left: 30px !important;">
            <div class="col-md-12" style="text-align: center;">
                <div style="max-width: 80%;margin: auto;">
                    <h1>SEDE</h1>
                    <h3>MORADA</h3>
                    <p style="font-size: 25px;">Rua das Três Fontes, Nº 67 4505-453 Lobão</p>
                    <h3>COORDENADAS</h3>
                    <p style="font-size: 25px;">40.997149 , -8.507571</p>
                    <h3>DIREÇÕES</h3>
                    <p style="font-size: 25px;">O Rancho Folclórico de São Tiago de Lobão tem a sua sede na Vila de Lobão, situada a nordeste do concelho de Santa Maria da Feira , distando cerca de 12 km da sede de concelho, 24 km do Porto e 285 km de Lisboa.</p>
                </div>
            </div>
        </div>
        <div class="col-xl-6" style="padding-right: 0px !important;padding-left: 24px !important;">
            <div class="card" style="height: 400px;background: #e5e5e5;border:none;">
                <div id="map" style="height: 100%;width: 70%;margin: auto;border-radius: 30px;">
                </div>
            </div>
        </div>
    </div>
</div>
