<div class="modal fade" id="modalPassword">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" >
            <div class="modalConteiner">
            <div class="modalLeft">
                </div>
                <div class="modalRight">
                    <button type="button" id="closeLogin" class="close" style="margin-bottom: 0;margin-top: 7%;margin-right: 7%;" data-dismiss="modal">&times;</button>
                    <div class="modalFormBox">
                        <form action="/recuperarPassword" method="POST">
                            <p style="margin-bottom: 16px;">Email</p>
                            <input type="text" name="email" placeholder="Email" required>
                            <input type="submit" name="loginSubmit" value="Enviar">
                        </form>
                        <a href="#"  data-target="#modalLogin" data-toggle="modal">Já conseguiu recuperar a sua conta?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>