<div id="sobre" class="sobreTop">
    <div class="sobreTitle">
        <h1>Sobre Nós</h1>
    </div>
</div>
<div class="sobre text-center">
   <div class="row" style="width: 100%;padding-top: 60px !important;">
       <div class="col-xl-6" style="margin: auto;padding-bottom: 100px;text-align: center;text-align: center;padding-right: 0px !important;padding-left: 30px !important;">
            <h1 style="margin: auto!important;">Logotipo</h1>
            <img src="img/principal/logo.jpg" class="img-fluid img-thumbnail imagemGaleria" style="border-radius: 7px;height: auto !important;" alt="Responsive image"> <br>
       </div>
       <div class="col-xl-6" style="text-align: center;padding-bottom: 100px;padding-right: 0px !important;padding-left: 30px !important;">
            <h1>Descrição</h1>
            <p style="font-size: 25px;">São Tiago a Rufar é um grupo de percussão, criado em 2014 como uma atividade do Rancho Folclórico de São Tiago de Lobão.
            O grupo tem neste momento como principal foco, o desenvolvimento da criação artística com base na percussão tradicional.</p>
       </div>
   </div> 
</div>