<div class="col-md-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Enviar Fotografias</h4>
        <form action="/user/galeria/envFoto" method="POST" class="forms-sample" enctype="multipart/form-data">
          <div class="form-group">
            <div class="custom-file">
              <input type="file" class="file custom-file-input" name="file" id="customFile" multiple required>
              <label class="custom-file-label" for="customFile">Escolher ficherios</label>
            </div>
          </div>
          <button type="submit" class="btn btn-success mr-2">Enviar</button>
        </form>
      </div>
    </div>
  </div>