<div class="col-xl-12 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><i class="fa fa-file-image-o"></i>&nbsp;&nbsp;Imagem De Perfil</h4>
            <div class="row" style="margin: auto;">
              <div class="avatar rounded-circle" style="width: 200px;height: 200px;overflow: hidden;margin: auto;">
                <img src="../imagens/perfil/<%=user.imagem%>" id="imgPerfil" alt="Circle Image" id="perfilImagem" class="img-raised img-fluid" style="width: 200px;height: auto;">
              </div>
            </div>
            <form class="forms-sample" method="POST" action="../user/altFoto" enctype="multipart/form-data" style="margin-top: 30px;">
              <div class="form-group">
                <label>Alterar Imagem de Perfil</label>
                <div class="custom-file">
                  <input type="file" class="file custom-file-input" name="file" id="customFile" multiple required>
                  <label class="custom-file-label" for="customFile">Escolher ficherios</label>
                </div>
              </div>
              <button type="submit" class="btn btn-success mr-2">Alterar</button>
              <label style="color:red;"><%if(fAltFoto){%> <%=fAltFoto%> <%}%></label>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>